.widget.team-details

    h1 {{ team.name }} <span class="level">| Level {{ team.rating }}</span>

    ul.members
        li.member(ng-repeat="member in team.members")
            img.member-image(ng-src="{{ member.image }}")
            .member-name {{ member.name }}

    ul.projects
        li.project(ng-repeat="project in team.projects")
            .project-name {{ project.name }}
            ul.project-languages
                li.project-language(ng-repeat="language in project.languages", ng-class="{selected:langUsed(language)}")
                    | {{ language }}

    .modal(ng-class="{active:modalActive}" )
        article
            p
                | I am looking for <b>sexy people</b> to work on a
                | <b>super awesome idea!!</b> by <b>yesterday</b>.

            p.description
                | Hey guys!
                | <br><br>
                | Looking for a team to work on a fashion oriented mobile app that will rock people's socks off!
                | <br><br>
                | Thanks,
                | <br>
                | Mark B.

            p.price
                | $3,000 USD <b>/</b> Project

        .send-btn(ng-click="goToSearchPage()")
            | Send Offer
