
.widget.team-list

    team-details(team="availableTeams[focusedTeamIndex]")

    nav
        .nav-wrapper


            button.previous-team(ng-click="showPreviousTeam()")
                | <

            section.team-info
                .team-name {{ availableTeams[focusedTeamIndex].name }}
                .team-city {{ availableTeams[focusedTeamIndex].city }}

            //- ul.team-bullets
            //-     li.team-bullet(
            //-         ng-repeat="team in availableTeams"
            //-         ng-class="{selected:$index == focusedTeamIndex}")
            //- button.select-team(ng-click="selectTeam(availableTeams[focusedTeamIndex])")
            //-     | Select Team

            button.next-team(ng-click="showNextTeam()")
                | >
            button.compare-teams(ng-click="compareTeams(selectedTeams)")
                | Hire them!

    ul.selected-teams
        li.selected-team(ng-repeat="team in selectedTeams")
            | {{ team.name }}
