
.view-team-search {
    position: relative;
    background: #222;
    display: table;
    height: 100%;
    width: 100%;

    .logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 50%;
        display:table-cell;
        vertical-align:middle;
    }

    .team-search {
        position: absolute;
        left: 50%;
        right: 0;
        top: 0;
        bottom: 0;
        display: table-cell;
        vertical-align: middle;
    }
}
